@use '../util/' as u;

.home-publication {
    background-color: var(--header-bg);
    object-fit: cover;
    padding: 15px;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__row{
        display: flex;
        align-items: center;
        gap: 20px;
        @include u.breakpoint(large) { 
            }
    }

    &__header-bar{
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        padding: 15px 0px;
        margin: 0;
    }

    &__flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -0.625rem;
        margin-right: -0.625rem;
        color: var(--text-dark);
        gap: 15px;
        padding: 10px;
        
    }

    &__item{
        padding: 10px;
        margin: 0 auto;
        position: relative;
        text-align: justify;
        align-items: center;
        background-color: hsl(60, 29%, 64%);
        border-radius: 20px;
        flex: 1;
        max-width: 71%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        @include u.breakpoint(large) { 

        }
    }

    &__image-wrapper{
    }

    &__image{
        width: 300px;
        height: 300px;
        display: block;
        margin: 0;
        border-radius: 20px;
    }

    &__logo{
        height: 35px;
        width: auto;
        margin-bottom: 0;
        align-self: flex-start;
    }

    &__title{
        padding: 0.45em 0 0.1em;
        color: var(--sub-font);
        font-size: u.rem(22);
    }

    &__description{
        color: var(--text-dark);
    }

    &__button{
        bottom: 0;
        left: 1.25em;
    }
}