@use '../util/' as u;

.visit{

  &__socials {
    gap: 10px;
    font-size: u.rem(32);
    text-align: center;
  }
}

.contact-info{

  &__icon-box{
    text-align: center;
  //   position: absolute;
  //   top: 134%;
  //   right: 20%;

  //   @include u.breakpoint(large) {
  //   top: 103%;
  //   right: 13%;
  // }
}

  &__icon{
    height: 60px;
    width: 60px;
    display: inline-flex; /* Makes each icon appear below the title */
    margin: 15px auto; /* Centers the icons */

    @include u.breakpoint(large) {
      height: 80px;
      width: 80px;
    }
  }

  &__box{
    text-align: center;
  }

  &__button{
    font-size: u.rem(50);
    margin-bottom:30px;
  }
}