@use '../util/' as u;

.partnership{

    &__main-box{}

    &__headline{
        text-align: center;
        color: var(--text-green);
    }

    &__main-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include u.breakpoint(large) {
            flex-wrap: nowrap;
          }
        }
 
    &__main-image{
        height: 462px;
        width: 462px;
    }

    &__description{
    }

    &__flex{
        display: flex;
        justify-content: center;
    }

    &__content-box{
        width: 80%;
    }

    &__wrapper{
        display: flex;
        max-width: 950px;
        margin: 0 auto;
        gap: 40px; /* Space between images and text */
    }

    &__image-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &__image{
        width: 390px; /* Adjust as needed */
        height: auto;
        border-radius: 10px;
    }

    &__theme{
        flex: 1; /* Allow text to take up the remaining space */
        max-width: 90%;
    }

    &__title{}

    &__statement{}

    &__next-step{
        position: relative;
    width: 100%;
    max-width: 800px; /* Adjust based on your layout */
    margin: 0 auto;
    }

    &__tree-image{
        width: 100%;
        height: auto;
        display: block;
    }

    &__overlay{
        position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    }

    &__overlay-sub{
        position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    }

    &__subtitle{
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__subcontainer{
        color: white;
        font-size: 18px;
        line-height: 1.5;
    }

    @media (max-width: 768px) {
        .partnership__wrapper {
            flex-direction: column;
            align-items: center;
        }

        .partnership__main-image{
            height: 300px;
            width: auto;
        }
    
        .partnership__image-wrapper {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .partnership__theme {
            max-width: 100%;
        }

        .partnership__overlay {
            width: 90%;
            padding: 15px;
        }
    
        .partnership__subtitle {
            font-size: 20px;
        }
    
        .partnership__subcontainer {
            font-size: 16px;
        }
}
}