@use '../util/' as u;

.detailed-events{

    &__title{
        text-align: center;
    }

    &__content{}

    &__image-container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    
        @include u.breakpoint(large){
          flex-wrap: nowrap;
        }
      }    

    &__image{
        box-shadow: 0 u.rem(6) u.rem(12) rgba(0, 0, 0, 0.1);
        object-fit: cover;
        margin-bottom: u.rem(32); // Space below the image if necessary
    
        @include u.breakpoint(large) {
        // Adjustments for larger screens if necessary
        width: 33%;
    }
    }

    &__details{
    text-align: justify;

        li{
            font-weight: normal;
            font-size: u.rem(22);
        }
    }

    &__time{
        font-size: u.rem(20);
    }

    &__cta{
        text-align: center;
    }

    &__button{
        font-size: u.rem(50);
    }
}